@font-face {
    font-family: 'FantasqueSansMonoRegular';
        src: url('/static/fonts/FantasqueSansMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
body {
    font-family: 'FantasqueSansMonoRegular';
    font-weight: normal;
    font-style: normal;
} 

pre {
    font-size: 14px;
    font-family: 'FantasqueSansMonoRegular';
    font-weight: normal;
    font-style: normal;
}

.no-style {
    color: black;
}