{% load staticfiles %}        
        <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
            <!--<div class="container-fluid">-->
                <!--<div class="navbar-header">-->
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                    <!--<img class="navbar-brand" src={% static "media/favicons/favicon-32x32.png" %}></img>-->
                    <!--<a class="navbar-brand" href="#">Schlerp's Blog</a>-->
                <!--</div>-->
                <!--<div id="navbar" class="navbar-collapse collapse">-->
                    <!--<ul class="nav navbar-nav navbar-right">-->
                        <!--<li><a href="#">Home</a></li>-->
                        <!--<li><a href="#">About</a></li>-->
                        <!--<li><a href="#">Archives</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</nav>-->
        
        <!--<div class="blog-masthead">-->
          <!--<div class="container">-->
            <!--<nav class="blog-nav">-->
              <!--<a class="blog-nav-item active" href="#">Home</a>-->
              <!--<a class="blog-nav-item" href="#">Archive</a>-->
              <!--<a class="blog-nav-item" href="#">About</a>-->
            <!--</nav>-->
          <!--</div>-->
        <!--</div>-->