{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="This is how we get ants...">
        <meta name="author" content="schlerp">
        <meta name="theme-color" content="#ffffff">
        
        <title>{% block title %}Schlerps Blog - This is how we get ants{% endblock %}</title>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/blog.css" %}" rel="stylesheet">
        <link href="{% static "css/font.css" %}" rel="stylesheet">
        <link href="{% static "css/pygments.css" %}" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <!-- jQuery must be in head :( -->
        <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
        
        <!-- custom block  -->
        {% block custom_head %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
          <div class="row">
              <div class="col-sm-12 blog-main">
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                  {% endfor %}
                  <div class="blog-header">
                      <h1 class="blog-title">Schlerp's Blog</h1>
                      <p class="lead blog-description">This is how we get ants...</p>
                  </div>
                  {% block top_content %}{% endblock %}
              </div>
            <div class="col-sm-9 blog-main">
            {% block content %}{% endblock %}
            </div><!-- /.blog-main -->
    
            <div class="col-sm-3 blog-sidebar">
              <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>This is a blog about all sorts of things, mostly nothing... but occasionally something.</p
                <p>I like:</p>
                <ul>
                    <li>Linux</li>
                    <li>Guitars</li>
                    <li>Python</li>
                    <li>Bash</li>
                    <li>SDR</li>
                    <li>ARM (and other SOC's)</li>
                    <li>Android</li>
                    <li>AFL (up the Bombers!)</li>
                    <li>Mountain Biking</li>
                    <li>Cooking (and eating!)</li>
                    <li>Health Informatics</li>
                    <li>Thinking outside the box</li>
                </ul>
                <p>I dislike:</p>
                <ul>                
                    <li>Squash (those little yellow vegetables)</li>
                    <li>CMD.exe</li>
                    <li>Windows</li>
                    <li>Microsoft</li>
                    <li>SAP (BOXI 3.1)</li>
                    <li>Sharepoint</li>
                </ul>
              </div>
              <!--<div class="sidebar-module">-->
                <!--<h4>Archives</h4>-->
                <!--<ol class="list-unstyled">-->
                  <!--<li><a href="#">March 2014</a></li>-->
                  <!--<li><a href="#">February 2014</a></li>-->
                  <!--<li><a href="#">January 2014</a></li>-->
                  <!--<li><a href="#">December 2013</a></li>-->
                  <!--<li><a href="#">November 2013</a></li>-->
                  <!--<li><a href="#">October 2013</a></li>-->
                  <!--<li><a href="#">September 2013</a></li>-->
                  <!--<li><a href="#">August 2013</a></li>-->
                  <!--<li><a href="#">July 2013</a></li>-->
                  <!--<li><a href="#">June 2013</a></li>-->
                  <!--<li><a href="#">May 2013</a></li>-->
                  <!--<li><a href="#">April 2013</a></li>-->
                <!--</ol>-->
              <!--</div>-->
              <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                  <li><a href="https://github.com/PatrickCoffey/">GitHub</a></li>
                  <li><a href="http://freenode.net">IRC: schlerp</a></li>
                </ol>
              </div>
            </div><!-- /.blog-sidebar -->
    
          </div><!-- /.row -->

        <footer class="blog-footer">
          <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>With custom edits/djangofication by <a href="http://blog.schlerp.net">schlerp</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>        
        
        <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
